body {
  background: #555;
  font-family: Roboto, Open Sans, sans-serif;
}

.task-container {
  background: #2b68b8;
  display: flex;
  width: 670px;
  justify-content: center;
  flex-direction: row;
}

.column-container {
  background: #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  border-radius: .25rem;
  width: 200px;
}

.todo-container {
  margin: 10px 5px 10px 10px;
}

.inprogress-container {
  margin: 10px 5px 10px 5px;
}

.done-container {
  margin: 10px 10px 10px 5px;
}

.task {
  position: relative;
  background: #fff;
  display: flex;
  border-radius: .25rem;
  width: 180px;
  margin: 5px;
  padding: 5px;
  overflow: hidden;
}

.task.dragged {
  /* border-radius: 10px; */
  position: absolute;
  z-index: 999;
  pointer-events: none;
  /* background: #fff; */
}

.del-task-btn {
  border: none;
  background-color: #fff;
  color: #f00;
  margin: 0;
  padding: 0px 5px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.del-task-btn:after { content: '\2716'; } 

.new-task-btn {
  border-radius: .25rem;
  margin: 5px;
  padding: 5px;
}

.add-task-input {
  border-radius: .25rem;
  width: 180px;
  margin: 5px;
  padding: 5px;
}

.add-task-btn {
  border: none;
  background-color: #1fdb67;
  color: #fff;
  font-weight: 700;
  border-radius: .25rem;
  margin: 5px;
  padding: 10px;
}

.add-cancel-btn {
  border: none;
  background-color: #ccc;
  color: #f00;
}

.add-cancel-btn:after { content: '\2716'; } 

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
